torch
torchvision
safetensors
git+https://github.com/huggingface/diffusers.git
transformers==4.49.0
lycoris-lora==1.8.3
flatten_json==0.1.14
pyyaml
oyaml==1.0
tensorboard
kornia==0.8.0
invisible-watermark==0.2.0
einops
accelerate
toml
albumentations==1.4.15
albucore==0.0.16
pydantic
omegaconf==2.3.0
k-diffusion==0.1.1.post1
open_clip_torch==2.32.0
timm
prodigyopt==1.1.2
controlnet_aux==0.0.7
python-dotenv==1.1.0
bitsandbytes==0.45.5
hf_transfer==0.1.9
lpips==0.1.4
pytorch_fid==0.3.0
optimum-quanto==0.2.4
sentencepiece
huggingface_hub
peft
gradio==5.23.3
python-slugify
opencv-python
OpenAI
google-genai
PyWavelets==1.8.0
aiofiles==23.2.1
antlr4-python3-runtime==4.9.3
clean-fid==0.1.35
clip-anytorch==2.6.0
dctorch==0.1.2
diffusers==0.33.0.dev0
eval-type-backport==0.2.2
fastapi==0.115.12
ffmpy==0.5.0
ftfy==6.3.1
gradio-client==1.8.0
groovy==0.1.2
jsonmerge==1.9.2
kornia_rs==0.1.8
ninja==1.11.1.4
numpy==1.26.4
nvidia-cublas-cu12==12
