torch==2.6.0+cu124
torchvision==0.21.0+cu124
safetensors==0.5.3
git+https://github.com/huggingface/diffusers.git
transformers==4.49.0
lycoris-lora==1.8.3
flatten_json
PyYAML==6.0.2
oyaml
tensorboard==2.18.0
kornia
invisible-watermark
einops==0.8.1
accelerate==1.5.2
toml==0.10.2
albumentations==2.0.5
albucore==0.0.23
pydantic==2.10.6
omegaconf
k-diffusion
open_clip_torch
timm==1.0.15
prodigyopt
controlnet_aux==0.0.7
python-dotenv
bitsandbytes
hf_transfer
lpips
pytorch_fid
optimum-quanto==0.2.4
sentencepiece==0.2.0
huggingface-hub==0.29.3
peft==0.14.0
gradio
python-slugify==8.0.4
opencv-python==4.11.0.86
openai==1.66.3
google-genai==1.5.0
